@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

$first-color: #0088ff;
$second-color: #7D26CD;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

nav {
    display: flex;
    justify-content: center;
    height: 5vh;
    background-color:#0088ff;

    ul {
        list-style: none;
        display: flex;
        justify-content: center;

        li {
            display: flex;
            align-items: center;
        }
    }

    a {
       
        text-decoration: none;
        color: #fff;
        padding: 8px;
        transition: .2s .1s;

        &:hover {
            border-bottom: 2px solid #fff;
        }
    }
}

main {
    background-color: #7D26CD;
}

footer {
    background-color: $first-color;
    height: 5vh;
    text-align: end;
}

.wave {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.landing {
    height: 95vh;

    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1 {
            text-align: center;
            margin-top: 10vh;
            color: #fff;
            font-size: 5rem;
        }

        button {
            padding: 20px;
            width: 200px;
            border-radius: 40px;
            border: none;
            color: $second-color;
            font-weight: 600;
            font-size: 1.3rem;
            margin-top: 10vh;
            cursor: pointer;
            transition: .5s .2s;

            &:hover {
                color: $first-color;
                letter-spacing: 2px;
            }
        }
    }

    .svg-wrapper {
        height: 250px;
        width: 250px;
    }
}

.info {
    //margin-top -1 for get rid of line whose through waves when resizing browser
    margin-top: -1px;
    height: 110vh;

    .wrapper {
        width: 90vw;
        margin: auto;
        display: flex;
        
        
        .info-left {
            h2,h3 {
                text-align: center;
                margin-bottom: 10px;
            }
            color: #fff;
            text-align: justify;
            text-justify:inter-character;
            max-height: 400px;
            padding: 20px;
        }

        .info-middle {
            h2,h3 {
                text-align: center;
                margin-bottom: 10px;
            }
            color: #fff;
            text-align: justify;
            text-justify:inter-character;
            max-height: 400px;
            padding: 20px;
        }

        .info-right {
            h2,h3 {
                text-align: center;
                margin-bottom: 10px;
            }
            color: #fff;
            text-align: justify;
            text-justify:inter-character;
            max-height: 400px;
            padding: 20px;
        }
    }

    .svg-wrapper {
        display: flex;
        height: 350px;
        width: 350px;
    }
}

@media screen and (max-width: 768px) {
.landing{
    .wrapper{
        h1 {
            font-size: 3rem;
        }
    }
}
    .svg-wrapper {
        height: 150px;
        width: 150px;
    }

.info {

    height: 200vh;
    .wrapper {
        flex-direction: column;
        
        div:nth-child(n+2) {
            margin-top: 10px;
        }
        
    }
}


}
    
