@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 5vh;
  background-color: #0088ff;
}

nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav a {
  text-decoration: none;
  color: #fff;
  padding: 8px;
  -webkit-transition: .2s .1s;
  transition: .2s .1s;
}

nav a:hover {
  border-bottom: 2px solid #fff;
}

main {
  background-color: #7D26CD;
}

footer {
  background-color: #0088ff;
  height: 15vh;
  text-align: end;
}

footer .social ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .social ul li {
  margin-left: 2px;
}

footer .social ul li a {
  padding: 20px;
}

footer .social ul li .container {
  padding: 20px;
  cursor: pointer;
  background-color: royalblue;
}

footer .social ul li object {
  padding: 14px;
  width: 90px;
  height: 60px;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-filter: invert(1);
          filter: invert(1);
}

footer .social ul li object:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.wave {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.landing {
  height: 95vh;
}

.landing .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.landing .wrapper h1 {
  text-align: center;
  margin-top: 10vh;
  color: #fff;
  font-size: 5rem;
}

.landing .wrapper button {
  padding: 20px;
  width: 200px;
  border-radius: 40px;
  border: none;
  color: #7D26CD;
  font-weight: 600;
  font-size: 1.3rem;
  margin-top: 10vh;
  cursor: pointer;
  -webkit-transition: .5s .2s;
  transition: .5s .2s;
}

.landing .wrapper button:hover {
  color: #0088ff;
  letter-spacing: 2px;
}

.landing .svg-wrapper {
  height: 250px;
  width: 250px;
}

.info {
  margin-top: -1px;
  height: 110vh;
}

.info .wrapper {
  width: 90vw;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info .wrapper .info-left {
  color: #fff;
  text-align: justify;
  text-justify: inter-character;
  max-height: 400px;
  padding: 20px;
}

.info .wrapper .info-left h2, .info .wrapper .info-left h3 {
  text-align: center;
  margin-bottom: 10px;
}

.info .wrapper .info-middle {
  color: #fff;
  text-align: justify;
  text-justify: inter-character;
  max-height: 400px;
  padding: 20px;
}

.info .wrapper .info-middle h2, .info .wrapper .info-middle h3 {
  text-align: center;
  margin-bottom: 10px;
}

.info .wrapper .info-right {
  color: #fff;
  text-align: justify;
  text-justify: inter-character;
  max-height: 400px;
  padding: 20px;
}

.info .wrapper .info-right h2, .info .wrapper .info-right h3 {
  text-align: center;
  margin-bottom: 10px;
}

.info .svg-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 350px;
  width: 350px;
}

@media screen and (max-width: 868px) {
  .landing .wrapper h1 {
    font-size: 3rem;
  }
  .svg-wrapper {
    height: 150px;
    width: 150px;
  }
  .info {
    height: 200vh;
  }
  .info .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info .wrapper div:nth-child(n+2) {
    margin-top: 10px;
  }
}

.about {
  height: 95vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .text {
  padding: 20px;
  color: #fff;
  font-size: 18px;
  width: 50%;
  background-color: #0088ff;
  height: 60%;
  border-radius: 20px;
  margin-top: 40px;
}
/*# sourceMappingURL=style.css.map */